{% load static %}

<html>

  <head>
     <title>Blog App</title>
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
     rel="stylesheet">
     <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="nav-left">
        <h1><a href="{% url 'home' %}">Django blog</a></h1>
      </div>
      <div class="nav-right">
        <a href="{% url 'post_new' %}">+ New Blog Post</a>
      </div>
    </header>
    {% if user.is_authenticated %}
      <p>Hi {{ user.username }}</p>
      <a href="{% url 'logout' %}">Log out Here</a>
    {% else %}
      <p>You are not logged in.</p>
      <a href="{% url 'login' %}">Log in Here</a>
      <p>Don't have an account?</p>
      <a href="{% url 'signup' %}">Sign Up Here</a>
    {% endif %}
    <div>
      {% block content %}
      {% endblock content %}
    </div>
  </body>


</html>
